{%load staticfiles%}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>KatheBooks</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css'%}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png'%}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css'%}">
      <!-- Tweaks for older IEs-->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout home_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif'%}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"> <a href="{%url 'BookStore:index'%}"><font face="Princess Sofia" size="6" color="white">Kathe Books</font></a> </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li class="active"> <a href="{%url 'BookStore:index'%}"><font face="Cormorant Upright" size="3" color="white">Inicio</font></a> </li>
                                 <li class=nav-item"><a href="{%url 'BookStore:about'%}" class="nav-link"><font face="Cormorant Upright" size="3" color="white">Sobre Nosotros</font></a> </li>
                                 <li><a href="{%url 'BookStore:books'%}"><font face="Cormorant Upright" size="3" color="white">Libros</font></a></li>
                                 <li><a href="{%url 'BookStore:library'%}"><font face="Cormorant Upright" size="3" color="white">Libreria</font></a></li>
                                 <li><a href="{%url 'BookStore:contact'%}"><font face="Cormorant Upright" size="3" color="white">Contactanos</font></a></li>
                                 <li class="mean-last"> <a href="#"><img src="{% static 'images/search_icon.png'%}" alt="#" /></a> </li>
                                 <li class="mean-last"> <a href="#"><img src="{% static 'images/top-icon.png'%}" alt="#" /></a> </li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <style>
                    @import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
               </style>
               <style>
                     @import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
               </style>
               <style>
                  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
               </style>
               <style>
                  @import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
               </style>
               <style>
                  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Mountains+of+Christmas:wght@700&display=swap');
               </style>
         <!-- end header inner -->
      </header>
      <!-- end header -->
      <section class="slider_section">
         <div id="myCarousel" class="carousel slide banner-main " data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img src="https://i.ibb.co/xjGn73P/mrmrsfox52x.jpg" class="d-block w-100" alt="First slide">>
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1><font face="Mountains of Christmas" size="" color="white">La Mejor Libreria <br> Online que cualquiera <br> Pueda Visitar!</font></h1>
                        <p><font face="Dancing Script" size=""> Conoce el mundo encantado <br>que hay detras de cada Libro </font></p>
                        <div class="button_section"> <a class="main_bt" href="#"><font face="Allison" size="">Leer Mas</font></a>  </div>
                     </div>
                  </div>
               </div>

      <!-- about -->
      <div class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="aboutheading">
                     <h2><font face="Princess Sofia" size="" color="#4E342E">Sobre</font><strong class="black"><font face="Princess Sofia" size="" color="">Nosotros</font></strong></h2>
                     <span><p class="text-justify"><font  face="Cormorant Upright" size="4">Somos una familia de personas que comparten el placer de leer y la pasión por la cultura. Nuestro reto es hacer
                        de esta familia, de este círculo de amigos, algo más grande, más cálido, cada día. Ello significa crear un
                        ambiente relajado, estimulante, íntimo, bello, inteligente… Que los clientes sientan que Kathe Books es
                        como su segunda casa, o mejor aún: ¡que sientan que es la primera! </font></p></span>

                  </div>
               </div>
            </div>
            <div class="row border">
               <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                  <div class="about-box">
                     <p class="text-justify"><font  face="Cormorant Upright" size="4">Por supuesto, Kathe Books no es solamente una librería. Realmente nos gustaría ser
                        apreciados como un lugar generador de procesos culturales. Y también como una plataforma
                        de expresión para distintas audiencias, conformada por una comunidad digital, una iniciativa
                        formal de comunicación y un medio con fines editoriales. Para hacer de Kathe Books la empresa que
                        tenemos en mente, necesitamos de un equipo profesional compuesto por individuos autónomos y
                        despiertos, que encuentren formas eficientes de hacer lo que se debe hacer,
                        y que contribuyan activamente a diseñar la compañía, desde su particular perspectiva.</font></p>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                  <div class="about-box">
                     <figure><img class="rounded mx-auto d-block" src="https://i.ibb.co/q9nyzw1/1500d9a8a5dd359d192ba397d4a97f1b.jpg" alt="img" /></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <!-- end about -->
      <!-- Library -->
      <div class="Library">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2><font face="Princess Sofia" size="" color="#4E342E">Nuestra</font><strong class="black"><font face="Princess Sofia" size="" color="">Libreria</font></strong></h2
                     <span><p class="text-justify"><font  face="Cormorant Upright" size="4">Esperamos que disfrute su visita tanto como nosotros disfrutamos trabajar acá.
                        Una selección importante de títulos en Humanidades y Narrativa contemporánea.
                     Prepárese para los encuentros con libros, con amigos y con escritores. </font></p></span>
                  </div>
               </div>
            </div>
         </div>
         <div class="bg">
            <div class="container">
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <div class="Library-box">
                        <figure><img class="rounded mx-auto d-block" src="https://i.ibb.co/DKbHDvY/61ca23d7df08bda91581bb8ffac69409.jpg" alt="#"/></figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="read-more">
                     <a href="{%url 'BookStore:books'%}"><font face="Allison" size="">Leer Mas</font></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Library -->
      <!--Books -->
      <div class="Books">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2><font face="Princess Sofia" size="" color="#4E342E">Nuestros</font><strong class="black"><font face="Princess Sofia" size="" color="">Libros</font></strong></h2>
                     <span><p class="text-justify"><font  face="Cormorant Upright" size="4">Nuestros libros se dirigen a toda clase
                        de publico, con variedad de libros de fantasia, literarura jevenil, literatura inglesa,
                        literatura francesa, cuentos, novelas, sagas, trilogias, clasicos y
                        variedad de titulos disponibles. </font></p></span>
                  </div>
               </div>
            </div>
            <div class="row box">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div class="book-box">
                     <figure><img src="https://i.ibb.co/ysKFv7g/6c33189a8e5bc3b51ad568edc1f2a280.jpg" alt="img"/></figure>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="book-box">
                     <figure><img src="https://i.ibb.co/4Tdjy72/141b8b5ccd594aff9887e9e0349f7d4a.jpg" alt="img"/></figure>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div class="book-box">
                     <figure><img src="https://i.ibb.co/ysKFv7g/6c33189a8e5bc3b51ad568edc1f2a280.jpg" alt="img"/></figure>
                  </div>
               </div>
               <div class="col-md-6 offset-md-3">
                  <p><font face="Cormorant Upright" size="4" color="black">Mantente informado de los mejores libros en Kathe Books! Visita nuestro sitio web cada sabado para ver las actualizaciones</font></p>
               </div>
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="read-more">
                        <a href="#"><font face="Allison" size="6">Regresar al Comiezo</font></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Books -->
      <!-- Contact -->
      <div class="Contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage3">
                     <h2><font face="Princess Sofia" size="" color="white">Contactanos</font></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <form>
                     <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                           <font face="Cormorant Upright" size=""><input class="form-control" placeholder="Name" type="Name" ></font>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                           <font face="Cormorant Upright" size=""><input class="form-control" placeholder="Phone Number" type="Phone Number"></font>

                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                           <font face="Cormorant Upright" size=""><input class="form-control" placeholder="Email" type="Email"></font>

                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                           <font face="Cormorant Upright" size=""><textarea class="textarea" placeholder="Message">Message</textarea></font>

                        </div>
                     </div>
                  </form>
               </div>
               <button class="send-btn"><font face="Allison" size="">Enviar</font></button>
            </div>
         </div>
      </div>
      <!-- end Contact -->
      <!-- footer -->
      <footer>
         <div class="copyright">
            <div class="container">
               <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js'%}"></script>
      <script src="{% static 'js/popper.min.js'%}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js'%}"></script>
      <script src="{% static 'js/plugin.js'%}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
      <script src="{% static 'js/custom.js'%}"></script>

   </body>
</html>